@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@200;400;700&display=swap');

$white: #FFFFFF;
$light: #F2E8DC;
$medium: #A69B8D;
$darker: #73675C;
$darkest: #40342E;

$success-background: #9cdaaa;
$success-text: #20562d;
$fail-background: #f5bdbd;
$fail-text: #6e1111;

body {
  font-family: 'Montserrat', sans-serif;
  color: $darkest;
  background-color: $medium;
}

section {
  background-color: $light;
  margin: 1em 0;
  padding: .25em;
}

h1 {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: .5em 0 0 0;
}

h4 {
  font-size: 1em;
  font-family:'Mukta', sans-serif;
  color: $darker;
}

// h6 {
//   font-family:'Mukta', sans-serif;
//   color: $darker;
// }

.success {
  background-color: $success-background;
  color: $success-text;
}

.failure {
  background-color: $fail-background;
  color: $fail-text;
}

.message {
  min-height: 1em;
  background-color: $white;
  margin: .25em 0 0;
  padding: .25em;
  color: $darkest;
  font-size: .5em;
}

.hidden {
  display: none;
}

#list-viewer {
  min-height: 1em;
  background-color: $white;
  margin: .25em 0 0;
  padding: .25em;
  color: $darkest;
}
